nav {
  width: 110%;
  height: 110px;
  background-color: dimgray;
  padding-top: 1px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
}
ul {
  display: flex;
}
li {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: white;
  margin-right: 35px;
}
a:hover {
  color: rgb(255,215,0);
}
.btn--gray,
a.btn--gray {
  color: #fff;
  background-color: ##696969;
}
.btn--gray:hover,
a.btn--gray:hover {
  color: #fff;
  background: ##ffd700;
}
